html,
body {
  height: 100vh;
  width: 100vw;
}

/* for the heading  */
.tag {
  text-align: center;
  color: green;
  margin: 2rem;
}

/* for the jigsaw puzzle container */
.jigsaw-puzzle {
  width: 70vw;
  aspect-ratio: 1 / 1;
  border: 2px solid black;
  margin: auto;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
}

@keyframes rainbowAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

body {
  background: linear-gradient(60deg, #f56565, #f6ad55, #fde047, #48bb78, #4299e1, #9f7aea, #ed64a6);
  background-size: 200% 200%;
  animation: rainbowAnimation 6s ease-in-out infinite;
}

.animated-image {
  animation: PopUpImage 1s linear 1;
}

@keyframes PopUpImage {
  0% {
    width: 100px;
    margin: auto;
  }

  100% {
    width: 100%;
    margin: auto;
  }
}

.change-font-family {
  transition: font-family 0.5s ease;
}

.scrolled {
  font-family: woro sans;
}

.img-1,
.img-2,
.img-3 {
  height: 250px;
  border-radius: 5px;
}

.newFont {
  font-family: sans-serif;
  font-size: 3rem;
}